.generalContainer {
  margin-bottom: 10rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  width: 95%;
}

.aboutTittle {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  line-height: 61px;
  color: #141d32;
  width: 206px;
  height: 61px;
  margin-bottom: 10px;
}

.aboutText {
  text-align: justify;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  line-height: 1.8;
  font-size: 16px;
  color: #6c6c6c;
  padding: 0 1rem;
  height: auto;
  margin-top: 10px;
}

/*Vision styling*/
.vision {
  width: 95%;
  height: auto;
  background: rgba(238, 241, 248, 1);
  margin: 20px auto;
}

.vision_Inner {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.vision__Title {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 61px;
  color: #141d32;
}

.vision__Text {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-transform: capitalize;
  color: #6c6c6c;
}

.visionAbsoluteContainer {
  position: relative;
}

.imageContainer {
  position: absolute;
  top: 12%;
  left: 10%;
}

/*values*/
.valuesContainer {
  background-color: #ffffff;
  margin: 20px auto;
  width: 93%;
}

.valueTitle {
  width: 212px;
  height: 61px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 61px;
  color: #141d32;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.valueText {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-transform: capitalize;
  color: #6c6c6c;
  height: 60px;
  margin-top: 2rem;
  text-align: justify;
}

.valueBorder {
  margin: 1rem 0;
}

.valueTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardContainer {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  height: 283px;
  background: #f2f6ff;
  border-radius: 16px;
  position: relative;
  margin-bottom: 2rem;
  margin-right: 0;
}

.vectorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 73px;
  height: 73px;
  background: var(--titaniumOrange);
  border: 1px solid var(--titaniumOrange);
  color: white;
  position: absolute;
  top: -12%;
  right: 5%;
}

.cardTitle {
  height: 43px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 42px;
  color: #141d32;
  padding-top: 4rem;
  padding-left: 15px;
  margin-bottom: 25px;
  text-transform: capitalize;
}

.cardText {
  height: 60px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #6c6c6c;
  padding-top: 1rem;
  padding-left: 15px;
  padding-top: 25px;
}

/*service styling*/
.service {
  width: 95%;
  height: auto;
  background: rgb(238, 241, 248);
  margin: 20px auto;
}

.service_Inner {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0.5rem;
}

.service__Title {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 61px;
  color: #141d32;
}

.service__Text {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-transform: capitalize;
  color: #6c6c6c;
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
  :is(.vision_Inner, .service_Inner) {
    width: 80%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
  }
  .vision__Title,
  .service__Title {
    font-size: 30px;
  }

  .vision,
  .service {
    width: 100%;
    background: rgba(238, 241, 248, 1);
    background: linear-gradient(
      90deg,
      rgba(255, 122, 0, 1) 20%,
      rgba(238, 241, 248, 1) 20%
    );
  }
}

@media (min-width: 920px) {
  .container,
  .vision_Inner,
  .service_Inner,
  .valuesContainer {
    width: 75%;
  }

  .aboutText {
    text-align: center;
    max-width: 980px;
  }

  .vision__Title {
    text-align: start;
  }
  .card {
    margin-right: 40px;
  }
}

/* 'laptop': '1024px' */
@media (min-width: 1024px) {
  .service_Inner {
    padding: 2rem 0;
  }
}

/* 'desktop': '1280px', */
@media (min-width: 1280px) {
}

@media (min-width: 1536px) {
}
