.container {
  position: relative;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.55);
}

.content {
  text-align: center;
  z-index: 10;
  width: 30%;
  /* max-width: 980px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero_heading {
  font-size: 1.8rem;
  color: #ffffff;
  font-weight: bold;
}

.hero_message {
  font-size: 14px;
  color: #e2e2e2;
  margin: 20px 0;
}

.hero__cta {
  width: 189px;
  height: 48px;
  background-color: var(--titaniumOrange);
  border-radius: 30px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

@media (min-width: 640px) {
  .content {
    width: 50%;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 920px) {
  .hero_heading {
    font-size: 2.9rem;
  }
}

/* 'laptop': '1024px' */
@media (min-width: 1024px) {
  .container {
    height: 104vh;
  }
}

/* 'desktop': '1280px', */
@media (min-width: 1280px) {
}

@media (min-width: 1536px) {
}
