.titlecontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.title {
  height: 61px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 61px;
  text-transform: capitalize;
}

@media (min-width: 780px) {
  .title {
    font-size: 40px;
  }
}
